name: Universal WASM Compiler (UWC)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Detect Languages
        id: check
        run: |
          echo "has_c=$(if ls src-c/*.c >/dev/null 2>&1; then echo 'true'; else echo 'false'; fi)" >> $GITHUB_OUTPUT
          echo "has_cpp=$(if ls src-cpp/*.cpp >/dev/null 2>&1; then echo 'true'; else echo 'false'; fi)" >> $GITHUB_OUTPUT
          echo "has_cs=$(if ls src-csharp/*.csproj >/dev/null 2>&1; then echo 'true'; else echo 'false'; fi)" >> $GITHUB_OUTPUT

      - name: Setup Emscripten
        if: steps.check.outputs.has_c == 'true' || steps.check.outputs.has_cpp == 'true'
        uses: mymindstorm/setup-emsdk@v14

      - name: Setup .NET
        if: steps.check.outputs.has_cs == 'true'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Compile
        run: |
          mkdir -p dist
          # C Build
          if [ "${{ steps.check.outputs.has_c }}" == "true" ]; then
            emcc src-c/main.c -o dist/c_index.html
          fi
          # C++ Build
          if [ "${{ steps.check.outputs.has_cpp }}" == "true" ]; then
            emcc src-cpp/main.cpp -o dist/cpp_index.html
          fi
          # C# Build
          if [ "${{ steps.check.outputs.has_cs }}" == "true" ]; then
            dotnet workload install wasm-tools
            dotnet publish src-csharp/*.csproj -c Release -o dist/csharp/
          fi

      - name: Archive Artifacts
        run: |
          cd dist && zip -r ../uwc_build.zip .
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: uwc-package
          path: uwc_build.zip
